.header
{
    background-color: #EEE73D;
    height: 200px;
}

.barrasuperior
{   
    display: flex;
    flex-direction: row;
    background-color: #EEE73D;
    border: 3px  #000000;
}

.itensmenu
{
    width: 25%;
    background-color: #EEE73D;
    border: 3px;
    height: 68px;
}

