.header
{
    background-color: #EEE73D;
    height: 200px;
}

.barrasuperior
{
    background-color: #EEE73D;
    border: 3px  #EEE73D;
    height: 68px;
}
.corpo
{
    height: 620px;
}

.footer
{
    background-color: #EEE73D;
    height: 40px;
    border: 3px #000000;
}